# Byte-compiled / optimized / normal files
__pycache__/
*.pyc
*.pyo
*.pyd

/.venv/

# Distribution / packaging
.Python
/build/
/dist/
/wheels/
*.egg-info/
*.egg

# macOS
.DS_Store

# Jupyter Notebook checkpoints
/.ipynb_checkpoints

# Specific to testing frameworks
/.pytest_cache/
