name: CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Check that uv.lock matches pyproject.toml
        run: uv lock --check

      - name: Install all Python dependencies
        run: uv sync --group dev

      - name: Run tests
        run: uv run pytest

      - name: Run lints
        run: uv run ruff check

      - name: Check formatting
        run: uv run ruff format --check

      - name: Run type checks
        run: uv run mypy .

